/* DEFAULTS */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* NAVIGATION BAR */
nav {
    background: rgb(30, 30, 30);
    height: 80px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label.title {
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float:right; /* orders horizontally */
    margin-right: 20px; /* prevents from sticking to the right side of screen */
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 20px; /* distance between buttons */
    text-decoration: none;
}

nav ul li a:hover {
    text-shadow: 0px 0px 10px white;
    /* in order: x offset, y offset, blur size color */
    font-size:larger;
    transition-duration: .5s;
}

nav ul li a {
    color:white;
    transition-duration: .5s;
}

/* BODY DEVELOPMENT */
div[id = "main body"] {
    display: grid;
    grid-template-columns: 10% 60% 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(35,35,35);
    height: 100%;
    width: 100%;
    align-self: center;
    text-align: center;
    color: white;
    float:right;
}

img[id = "senior photo"] {
    width: 50%;
    transition-duration: .5s;
    margin-right: 50%;
    /* center the items */
    display: flex;
    justify-content: center;
}

img[id = "senior photo"]:hover {
    width: 45%;
    transition-duration: .5s;

}